*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #080808;
    color:#fff;
}
#header{
    width:100%;
    height:100vh;
    background-image: url('kamal_pic.png');
    background-size: cover;
    background-position: center;
}
.container{
    padding:10px 10%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
.logo{
    width:140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;
}
nav ul li a{
    text-decoration: none;
    color:#fff;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
   content:'';
   width:0;
   height:3px;
   background: #ff004f;
   position:absolute;
   left:0;
   bottom:-6px;
   transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.head{
    margin-top:20%;
    font-size:30px;
}

.head h1 span{
    color:red;
}
#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.up{
  flex-basis:35%;
}
.down{
    flex-basis:60%;
}
.up img{
    width:100%;
    border-radius: 15px;
}

.abo{
    font-size:60px;
    font-weight: 600;
    color:#fff;
    padding-left:0;
}
.title{
    display: flex;
    margin:20px 0 40px;
}
.subt{
    font-size: 18px;
    margin-right: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.subt::after{
    content:'';
    width:0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom:-8px;
    transition: 0.5s;
}
.subt.acti::after{
   width:50%;
}
.contents ul li{
    list-style: none;
    margin:10px 0;
}
.contents ul li span{
    color:#b54769;
    font-size:14px;
}
.contents{
    display: none;
}
.contents.tab{
    display: block;
}
.sub{
    font-size: 60px;
}
#services{
    padding:30px 0;
}
.servicelist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.servicelist div{
   background: #262626;
   padding:40px;
   font-size:13px;
   font-weight:300;
   border-radius: 10px;
   transition: all 0.5s ease;
}
.servicelist div i{
    font-size:50px;
    margin-bottom:30px;
    transition: all 0.5s ease;
}
.servicelist div:hover{
transform: scale(1.06);
}
.servicelist div:hover i{
transform: scale(0.8);
}

#portfolio{
    padding:50px 0;
}
.worklist{
       display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius:10px;
    position: absolute;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top:20px;
    color:#ff004f;
    background: #fff;
    font-size: 18px;
    line-height: 60px;
    width:60px;
    height:60px;
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
     height:100%;
}
.btn{
    display: block;
    margin:50px auto;
    width:fit-content;
     border: 1px solid #ff004f;
     padding:14px 50px;
     border-radius: 6px;
     text-decoration: none;
     color:#fff;
     transition: all 0.5s ease;
}

.btn:hover{
    transform: scale(1.05);
    background: #ff004f;
}
.left{
    flex-basis:35%;
}
.right{
    flex-basis:60%;
}
.left p{
    margin-top:30px;
} 
.left p i{
    color:#ff004f;
    font-size: 25px;
    margin-right: 15px;
}
.icon{
    margin-top: 30px;
}
.icon a{
    text-decoration: none;
    margin-right:15px;
    font-size:30px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.icon a:hover{
    color:#ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background:#ff004f;
}
.right form{
    width:100%;
}
form input,form textarea{
    width:100%;
    border:0;
    outline: none;
    background: #262626;
    padding:15px;
    margin:15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding:14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
.copy{
    width:100%;
    text-align: center;
    padding:25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copy i{
    color:#ff004f;
}
nav .fas{
    display: none;
}
@media only screen and (max-width:600px){
 #header{
    background-image: url('kamal_pic.png');
 }  
 .head{
    margin-top:100%;
    font-size: 16px;
 }
 .head h1{
    font-size: 30px;
 }
 nav .fas{
    display: block;
    font-size:25px;
}
nav ul {
    background: #ff004f;
    position: fixed;
    top:0;
    right:-200px;
    width:200px;
    height:100vh;
    padding-top:50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
    display: block;
    margin:25px;
}
nav ul .fas{
    position: absolute;
    top:25px;
    left:25px;
    cursor: pointer;
}
.abo{
    font-size: 40px;
}
.up,.down{
    flex-basis: 100%;
}
.up{
    margin-bottom:30px;
}
.down{
    font-size: 14px;
}
.subt{
    font-size: 16px;
    margin-right: 20px;
}
.left,.right{
    flex-basis: 100%;
}
.copy{
    font-size:14px;
}
}
#msg{
    color:#61b752;
    margin-top: -40px;
    display: block;
}